@model DateModel;
@{
    ViewData["Title"] = "Listagem de terapias";
}

<div class="text-center">
    <h1>Listagem de terapias</h1>
    <p><h3>Selecione uma data:</h3></p>

    <div class="form-group">
        <label for="Day">Dia</label>
        <select asp-for="Day" class="form-control" required>
            <option value="">Selecione</option>
            @{
                int i = 1;
                while (i <= 31)
                {
                    <option value="1">@i</option>
                    i++;
                }
            }
        </select>
        @Html.ValidationMessageFor(x => x.Day)
    </div>

    <br />

    <div class="form-group">
        <label for="Month">Mês</label>
        <select asp-for="Month" class="form-control" required>
            <option value="">Selecione</option>
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
        @Html.ValidationMessageFor(x => x.Month)
    </div>
    <br />

    <div class="form-group">
        <label for="Year">Ano</label>
        <select asp-for="Year" class="form-control" required>
            <option value="">Selecione</option>
            <option value="1">2023</option>
        </select>
        @Html.ValidationMessageFor(x => x.Year)
        <div />
        <br />
        <a button type="submit" class="btn btn-outline-info btn-block" asp-controller="TherapyPerDay" asp-action="Index">Selecionar</a>
    </div>

    @*@{
        var selectedDay = Model.Day;
        var selectedMonth = Model.Month;
        var selectedYear = Model.Year;
    }
*@